
.section1{
  background-image:url(../images/h_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/***********ABOUT US*********/

.section2{
  font-size: 15px;
}
/*********SERVICES*********/

.section3{
  background-image: url(../images/s_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}
.section6{
  background-image: url(../images/c_image.jpg);
}
#columnDesign{
  padding: 10px%;
}
h1{
  color: white;
}
#p1,#p2,#p3{
  width: 50px;
}
/*********GENERAL**********/
/***************************/
.inputs{
  background-color:transparent;
}
body{
  overflow-x: hidden;
}
.imgCenter{
  position: relative;
  padding-left: 46%;
}
.imgCenter1{
  position: relative;
  padding-left: 49%;
  padding-bottom: 2%;
}
.padding5{
  padding: 5%;
}
.paddingTop9{
  padding-top: 9%;
}
.paddingTop17{
  padding-top: 17%;
  font-family: 'Roboto', sans-serif;
}
.paddingTop3{
  padding-top: 3%;
}
.marginTop3{
  margin-top: 3%;
}
.marginTop12{
  margin-top: 12%;
}
.marginBottom{
  margin-bottom: 6%;
  margin-top: 6%;
}
.whiteText{
  color: white;
}
.smallFont1{
  font-size: 14px;
}
.smallerFont{
  font-size: 11px;
}
.aboutUs{
  padding-top: 5%
  padding-bottom:5%
}
/*hoovering images */
.contain-img{

}

.align img{
  width: 100%;
}
.containImages{
  padding-left: 13%;
}
.wordStyle h6{
  color: white;
  position: absolute;
  bottom:  25%;
  left: 50px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px #fff;
  border: 2px solid white;
  padding: 30px;
}
