
.section1{
  background-image:url(../images/h_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/***********ABOUT US*********/
.section2{
  font-size: 1rem;
}
/*********SERVICES*********/
.section3{
  background-image: url(../images/s_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
;
}
h1{
  color: white;
}
/*********general**********/
/***************************/
.imgCenter{
  position: relative;
  padding-left: 46%;
}
.imgCenter1{
  position: relative;
  padding-left: 49%;
  padding-bottom: 2%;
}
.padding5{
  padding: 5%;
}
.paddingTop9{
  padding-top: 9%;
}
.paddingTop17{
  padding-top: 17%;
  font-family: 'Roboto', sans-serif;
}
.paddingTop3{
  padding-top: 3%;
}
.marginTop3{
  margin-top: 3%;
}
.marginTop12{
  margin-top: 12%;
}
.paddingBottom{
  padding-bottom: 4%;
}
.whiteText{
  color: white;
}
.smallFont1{
  font-size: 14px;
}
.aboutUs{
  padding-top: 5%
  padding-bottom:5%
}
