.main{
  background-image:url(../images/h_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
  color: white;
}
/*********general**********/
/***************************/
.textCenter{
  text-align: center;
}
.imgCenter{
  position: relative;
  padding-left: 46%;
}
.imgCenter1{
  position: relative;
  padding-left: 48%;
  padding-bottom: 2%;
}
.padding5{
  padding: 5%;
}
.paddingTop5{
  padding-top: 5%;
}
.paddingTop17{
  padding-top: 17%;
  font-family: 'Roboto', sans-serif;
}
.paddingTop3{
  padding-top: 3%;
}
.marginTop3{
  margin-top: 3%;
}
.marginTop12{
  margin-top: 12%;
}
.whiteText{
  color: white;
}
.smallFont1{
  font-size: 14px;
}
